body {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  padding: 10px 0;
  height: 72px;
}

.header-conteiner {
  display: flex;
}

.nav {
}
.nav-list {
  display: flex;
  gap: 28px;
}

.nav-list-item {
    display: block;
    padding: 28px 0;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover,
.nav-linc:focus {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.button-header {
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  background-color: #bbf330;
  cursor: pointer;
  border: none;
}

.offering {
  background-color: #ffe550;
  padding-top: 113px;
  padding-bottom: 124px;
}

.offering-conteiner {
  display: flex;
  align-items: center;
  gap: 90px;
}

.offering-text-wrap {
  max-width: 573px;
}

.offering-title {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.offering-text {
  line-height: 1.5;
  margin-bottom: 40px;
}
.offering-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.offering-item {
  width: calc((100% - 67px) / 2);
}
.offering-subtitle {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.offering-desc {
  font-size: 14px;
  line-height: 1.5;
}
.offering-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 106px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
}

.favorites {
  padding-top: 120px;
  padding-bottom: 104px;
}
.container {
}
.favorites-title {
}
.favorites-text {
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorites-item {
  width: 395px;
  height: 397px;
  border-radius: 197px;
  justify-items: center ;
  align-items: center;
}

.beackdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(94, 99, 99, 0.7);
}
.modal {
  border-radius: 30px;
width: 458px;
height: 449px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
background: #ffe550;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
position: absolute;
padding: 32px;

}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 0;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}


.modal-close-icon {

}
.modal-title {
font-weight: 700;
font-size: 24px;
line-height: 1.2;
margin-bottom: 20px;
}

.modal-fild {
  margin-bottom: 24px;

}
.modal-label {
font-weight: 500;
font-size: 16px;
line-height: 1.4;
display: block;
margin-bottom: 2px;
margin-left: 12px;
}
.modal-impui {
  border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 30px;
width: 100%;
height: 48px;
box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
background: #fff;
outline: transparent;
padding-left: 12px;
border: 2px solid transparent;
}
.modal-sent-btn {
  border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 20px;
width: 106px;
height: 40px;
background: #fff;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
display: block;
margin: 0 auto;
}

.modal-impui:focus {
  border-color: #bbf330;
}

.modal-fild-mail {
  margin-bottom: 32px;
}